
<div id="addvisitor">
    <table>
        <caption>Register visitor</caption>
        <tr>
        <td>Visitors firstname</td>
        <td><input type="text" name="visitor_name" placeholder="firstname" form="addvisit" /></td>
        </tr>
        <tr>
        <td>Visitors surname</td>
        <td><input type="text" name="visitor_surname" placeholder="surname" form="addvisit" /></td>
        </tr>
        <tr>
        <td>Visitors card nr</td>
        <td><input type="text" name="visitor_card_nr" placeholder="nr" form="addvisit" /></td>
        </tr>
        <tr>
        <td>Host name</td>
            <td><select name="host_name" form="addvisit" />
                <?php foreach($hosts as $host): ?>
                <option value="<?php echo $host['id']; ?>"><?php echo htmlspecialchars($host['name']). ' '. htmlspecialchars($host['surname']); ?></option>
                <?php endforeach; ?>

            </select></td>
        </tr>
    </table>
    <form action="?main" method="POST" id="addvisit">
        <input type="submit" value="register"/>
    </form>

</div>

<div id="visitorsInside">
    <?php if (empty($visitors)):?>
    <p class = nothing>No visitors</p>
    <?php endif;?>

    <?php foreach($visits as $index=>$visit) : ?>

    <table>
        <caption> Visitors inside </caption>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>


    </table>

    <div>
        <p><?php $i=$index +1 ;echo htmlspecialchars($i). '. ' . htmlspecialchars($host['name']) . ' ' . htmlspecialchars($host['surname']); ?></p>
    </div>
    <?php endforeach; ?>

</div>