<div>
    <table id="addvisitor">
        <caption>Register visitor</caption>
        <tr>
        <td>Visitors firstname</td>
        <td><input type="text" name="visitor_name" placeholder="firstname" form="addvisit" /></td>
        </tr>
        <tr>
        <td>Visitors surname</td>
        <td><input type="text" name="visitor_surname" placeholder="surname" form="addvisit" /></td>
        </tr>
        <tr>
        <td>Visitors card nr</td>
        <td><input type="text" name="visitor_card_nr" placeholder="nr" form="addvisit" /></td>
        </tr>
        <tr>
        <td>Host name</td>
            <td><select name="host_name" form="addvisit" />
                <?php foreach($hosts as $host): ?>
                <option value="<?php echo $host['id']; ?>"><?php echo htmlspecialchars($host['name']). ' '. htmlspecialchars($host['surname']); ?></option>
                <?php endforeach; ?>

            </select></td>
        </tr>
        <tr>
            <td></td>
            <td >
                <form action="?main" method="POST" id="addvisit">
                <input type="submit" value="register"/>
                </form>
            </td></tr>
    </table>


</div>

<div>
    <?php if (empty($visits)):?>
    <p class = nothing>No visitors</p>
    <?php endif;?>



    <table id="visitorsInside">
        <caption> Visitors inside </caption>
        <tr>
            <th></th>
            <th>Visitor name</th>
            <th>Visitor card</th>
            <th>Host</th>
            <th>Time of entry</th>
            <th></th>
        </tr>
        <?php foreach($visits as $index=>$visit) : ?>
            <tr>
                <td><?php $i=$index+1; echo htmlspecialchars($i) ; ?></td>
                <td><?php echo htmlspecialchars($visit['visitor_name']); ?></td>
                <td><?php echo htmlspecialchars($visit['visitor_card']); ?></td>
                <td><?php echo htmlspecialchars($visit['host_name']); ?></td>
                <td><?php echo htmlspecialchars($visit['time_entered']); ?></td>
                <td><a href="?page=checkout&id=<?php echo htmlspecialchars($visit['id']) ; ?>">Check out</a> </td>
            </tr>
        <?php endforeach; ?>
    </table>


</div>